[user]
	name = Zang MingJie
	email = zealot0630@gmail.com
[core]
	whitespace = blank-at-eol,space-before-tab,tab-in-indent,blank-at-eof,trailing-space,cr-at-eol
	autocrlf = input
[color]
	diff = auto
	ui = auto
[pack]
	packSizeLimit = 2g
[review "review.cyanogenmod.com"]
	username = kghost
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = zealot0630@gmail.com
	smtpserverport = 587
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[rebase]
	autoStash = true
[log]
	date = relative
[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[pull]
	rebase = true
[submodule]
	recurse = 0
[oh-my-zsh]
	hide-status = 0
	hide-dirty = 0
[url "git@github.com:"]
	insteadOf = https://github.com/
